<%- include('./partials/header') %>

<div class="article-container" style="max-width: 1200px">
    <div class="columns is-desktop">
        <div class="column">
            <article id="article">
                <%- include('./partials/page-info') %>
                <%-page.converted_content%>
                <p class="copyright"><strong>Links: <a href="<%-page.link%>"><%-page.link%></a></strong></p>
                <%- config.copyright %>
                <%- config.ad %>
            </article>
        </div>
        <div class="column is-one-quarter-fullhd" id='toc-container'>
            <aside class="menu toc">
                <ul class="menu-list">
                    <% if(page.categoryList.length > 1) { %>
                        <li>
                            <p style='font-size: x-large; font-weight: bold'><%- page.category %></p>
                            <ul>
                                <% page.categoryList.forEach((p)=>{ %>
                                    <li><a href="/page/<%= p.link %>"><%= p.title %></a></li>
                                <% }) %>
                            </ul>
                        </li>
                    <% } %>
                    <li>
                        <p style='font-size: x-large; font-weight: bold'>目录</p>
                        <ul id="toc">
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <%- include('./partials/prev-next') %>
    <%- include('./partials/comment') %>
</div>

<script>
  (function() {
    generateTOC();
  })();
</script>

<%- include('./partials/footer') %>
