<%- include('./partials/header') %>
<div class="discuss">
    <%- include('./partials/page-info') %>
    <div class="content">
        <%-page.converted_content%>
    </div>
    <%- include('./partials/comment') %>
    <%- include('./partials/prev-next') %>
</div>

<%- include('./partials/footer') %>
