<%- include('./partials/header') %>
<div class="columns is-desktop">
    <div class="column">
        <div class="page-card-list">
            <% if (pages.length){ %>
                <% pages.forEach((page)=>{ %>
                    <div class="box" style='padding-top: 16px'>
                        <article class="media" style='padding: 8px'>
                            <div class="media-content">
                                <div class="content">
                                    <div class="page-card-title">
                                        <a href="/page/<%= page.link %>">
                                            <%= page.pageStatus === 2 ? '「置顶」' : '' %><%= page.title ? page.title : '无标题' %>
                                        </a>
                                    </div>
                                    <% page.tag.trim().split(";").forEach(function (tag) { if(tag !== ""){ %>
                                        <a class="tag is-light" href='/tag/<%= tag %>'><%= tag %></a>
                                    <% }}); %>
                                    <a class="tag is-light"
                                       href="/archive/<%= page.createdAt.split('-')[0] + '/' + page.createdAt.split('-')[1] %>"><%= page.createdAt.substring(0, 10) %></a>
                                    <span class="tag is-light"><%- page.view %> views</span>
                                    <div class="page-card-text">
                                        <%= page.description ? page.description : "无描述信息" %>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
            <% })} %>
        </div>
        <%- include('./partials/paginator') %>
    </div>
    <div class="column is-one-quarter-fullhd" style='margin-top: 8px'>
        <div class="card" >
            <p class="card-header-title" style='font-size: larger; padding-bottom: 4px'>
                <%= config.site_name %>
            </p>
            <div class="card-content" style="padding: 0 16px 16px;">
                <div class="content">
                    <%= config.description %>
                    <% if(config.brand_image) { %>
                        <img src="<%= config.brand_image %>" style="margin-top: 8px" alt="brand_image">
                    <% }%>
                    <br>
<!--                    内存占用：<%= (process.memoryUsage().rss / (1024 *1024)).toFixed(2) %> MB-->
                </div>
            </div>
<!--            <footer class="card-footer">-->
<!--                <a href="https://github.com/songquanpeng/blog" class="card-footer-item">系统：Blog</a>-->
<!--                <a href="https://github.com/songquanpeng/blog" class="card-footer-item">主题：Bulma</a>-->
<!--            </footer>-->
        </div>
        <div class="box" style="margin-top: 32px">
            <%- notice %>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>
