<%- include('./partials/header') %>
<div class="columns is-desktop">
    <div class="column">
        <div class="page-card-list">
            <% if (pages.length){ %>
                <% pages.forEach((page)=>{ %>
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div class="page-card-title"><a
                                                href="/page/<%= page.link %>"><%= page.title ? page.title : 'No title' %></a>
                                    </div>
                                    <% page.tag.trim().split(" ").forEach(function (tag) { if(tag !== ""){ %>
                                        <a class="tag is-light" href='/tag/<%= tag %>'><%= tag %></a>
                                    <% }}); %>
                                    <a class="tag is-light"
                                       href="/archive/<%= page.post_time.split('-')[0] + '/' + page.post_time.split('-')[1] %>"><%= page.post_time.substring(0, 10) %></a>
                                    <span class="tag is-light"><%- page.view %> views</span>
                                    <div class="page-card-text">
                                        <%= page.description ? page.description : "No description" %>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
            <% })} %>
        </div>
        <%- include('./partials/paginator') %>
    </div>
    <div class="column is-one-quarter-fullhd">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    <%= config.site_name %>
                </p>
            </header>
            <div class="card-content" style="padding: 16px">
                <div class="content">
                    <%= config.description %>
                    <% if(config.brand_image) { %>
                        <img src="<%= config.brand_image %>" style="margin-top: 8px" alt="brand_image">
                    <% }%>
                    <br>
                    Memory occupied: <%= (process.memoryUsage().rss / (1024 *1024)).toFixed(2) %> MB
                </div>
            </div>
            <footer class="card-footer">
                <a href="https://github.com/songquanpeng/blog" class="card-footer-item">System: Blog</a>
                <a href="https://github.com/songquanpeng/blog" class="card-footer-item">Theme: Bulma</a>
            </footer>
        </div>
        <div class="box" style="margin-top: 32px">
            <%- notice %>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>
