<%- include('./partials/header') %>
<div class="links">
    <article>
        <%- include('./partials/page-info') %>
    </article>

    <% if (linkList && linkList.length){ %>
        <% linkList.forEach((link)=>{ %>
        <div class="card" style='margin-bottom: 16px'>
            <% if(link && link.image === ''){
                if (link.link.endsWith('/')) {
                    link.image = link.link + 'favicon.ico';
                } else {
                    link.image = link.link + '/favicon.ico';
                }
            } %>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <a href="<%= link.link ;%>">
                            <figure class="image is-48x48">
                                <img loading="lazy" class="image" src="<%= link.image ;%>" alt="⚠️" />
                            </figure>
                        </a>
                    </div>
                    <div class="media-content">
                        <p class="title is-4"><a href="<%= link.link ;%>" style='color: #363636'><%= link.title ;%></a>
                        </p>
                        <p class="subtitle is-6"><%= link.description ;%></p>
                    </div>
                </div>
            </div>
        </div>

    <% });} %>
    <%- include('./partials/prev-next') %>
    <%- include('./partials/comment') %>
</div>
<style>
    .link-card {
        padding: 1em 0;
        border: 2px solid transparent;
        display: flex;
        align-items: center;
        border-bottom: 1px dashed #999;
        margin-left: 20px;
        margin-right: 20px;
    }

    .link-card a {
        flex-shrink: 0;
    }

    .link-card img {
        width: 4em;
        height: 4em;
        margin: 0 1em 0 0;
    }

    .link-card .info {
        flex-shrink: 1;
    }

    .link-card .title {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0.375em 0;
    }

    .link-card .description {
        font-size: 0.875em;
    }
</style>

<%- include('./partials/footer') %>
