<%- include('./partials/header') %>
<div class="container">
    <p class="title is-3" style='margin-top: 24px'><%= title %></p>
    <table class="table is-fullwidth is-hoverable is-bordered is-striped">
        <thead>
        <tr>
            <th>标题</th>
            <th>发布时间</th>
            <th>编辑时间</th>
        </tr>
        </thead>
        <tbody>
        <% pages.sort((a,b) => (a.createdAt > b.createdAt) ? 1 : ((b.createdAt > a.createdAt) ? -1 : 0)).forEach(page => { %>
            <tr>
                <td>
                    <a href="/page/<%= page.link %>">
                        <%= page.title %>
                    </a>
                </td>
                <td>
                    <time>
                        <%= page.createdAt.substring(0, 10) %>
                    </time>
                </td>
                <td>
                    <time>
                        <%= page.updatedAt.substring(0, 10) %>
                    </time>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<%- include('./partials/footer') %>
