<%- include('./partials/header') %>
<div class="raw">
    <%- include('./partials/page-info') %>
    <div class="raw-content">
        <%- page.content %>
        <%- config.copyright %>
        <%- config.ad %>
    </div>
    <%- include('./partials/prev-next') %>
    <%- include('./partials/comment') %>
</div>


<%- include('./partials/footer') %>
