<div class="container article-container" id="comment" style="margin-top: 16px;margin-bottom: 16px">
    <h3>Comment</h3>
    <% if (comments.length){ %>
        <% comments.forEach((comment)=>{ %>
            <div class="card shadow-box bg-transparent" style="margin-bottom: 16px">
                <div class="card-body">
                    <p class="card-text"><%= comment.content %></p>
                    <span class="card-link"><%= comment.author %></span>
                    <span class="card-link"><%= comment.time %></span>
                    <% if(isRootUser) { %>
                        <span class="card-link" onclick="setCommentState('<%= comment.id %>', ACTIVATE)">Active</span>
                        <span class="card-link" onclick="setCommentState('<%= comment.id %>', DEACTIVATE)">Deactivate</span>
                    <% } %>
                </div>
            </div>
    <% })} %>
</div>
