</div>
</div>
<div id="footer">
    <footer class="footer">
        <div class="content has-text-centered">
            <% let date = new Date(); const year = date.getFullYear();%>
            <p>
                © <%= year%> <a href="//<%= config.domain %>"><%=config.author%></a>.<%- config.extra_footer_text %>
                Powered by <a href="https://github.com/songquanpeng/lightx-cms">Lightx-CMS</a>.
            </p>
        </div>
    </footer>
</div>
</div>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<%- config.extra_footer_code %>
</body>
</html>
