<h1 class="title is-3 is-4-mobile"><%-page.title%></h1>
<div class="info">
    Tag:
    <% page.tag.trim().split(" ").forEach(function (tag) { if(tag!==""){%>
        <a class="tag is-light" href='/tag/<%= tag %>'><%= tag %></a>
    <% }}); %>
    &ensp;Posted on <span class="tag is-light"><%-page.post_time%></span>&ensp;Edited on <span class="tag is-light"><%-page.edit_time%></span>&ensp;Views: <span class="tag is-light"><%-page.view%></span>
</div>