<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="container">
    <%- include('./partials/message') %>
</div>
<!--Content here-->
<div class="container">
    <h4>Total number of articles: <%= articles.length%></h4>
    <div class="list-group shadow-box">
        <% if (articles.length){ %>
            <% articles.forEach((article)=>{ %>
                <a href='/article/<%= article.link %>' class="list-group-item list-group-item-action"><%= article.title %></a>
            <% }); %>
        <% } %>
    </div>
</div>
<%- include('./partials/end') %>
