<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<!--Content here-->
<div class="container article-container">
    <article class="shadow-box" style="padding: 16px">
        <%- article.content %>
        <%- config.articleAd %>
    </article>
</div>
<% if(config.enableComment){ %>
    <comment>
        <div class="container article-container" id="comment" style="margin-top: 16px;margin-bottom: 16px">
            <div id="comment">
                <div class="card shadow-box bg-transparent" style="margin-bottom: 16px">
                    <div class="card-header">
                        <h4>Comment</h4>
                    </div>
                    <div class="card-body" style="padding: 0">
                        <textarea class="form-control" rows="5" id="commentContent" placeholder="Your comment will not show until reviewed by the administrator." required></textarea>
                    </div>
                    <div class="card-footer">
                        <div class="form-inline">
                            <input type="text" class="form-control" id="commentAuthor" style="margin-right: 10px"
                                   placeholder="Enter your name..." required>
                            <button class="btn btn-success" onclick=postComment(<%- article.id %>)>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>loadComments(<%- article.id %>);</script>
    </comment>
<% } %>


<script>hljs.initHighlightingOnLoad();</script>
<%- include('./partials/end') %>
