<%- include('./partials/header') %>
<%- include('./partials/navigation') %>

<!--Content here-->
<div class="container article-container">
    <article class="shadow-box" style="padding: 16px">
        <h1><%-page.title%></h1>
        <%- page.content %>
    </article>
</div>

<script>hljs.initHighlightingOnLoad();</script>
<%- include('./partials/end') %>
