<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<!--Content here-->
<div class="w3-content" style="max-width:1400px">
    <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
            <h3 class="article-font"><b><%= article.title %></b></h3>
            <span class="w3-tag w3-deep-orange tag" onclick="location.href='/article_tag/<%= article.tag %>'"><%= article.tag %></span> <span class="w3-tag w3-green tag" onclick="location.href='/user/<%= article.author %>'"><%= article.author %></span> <span class="w3-opacity w3-tag w3-deep-purple tag" onclick='onTimeTagClicked("<%= article.time %>")'><%= article.time %></span>
        </div>
        <div class="w3-container w3-large article-font">
            <%- article.content %>
        </div>
        <hr>
    </div>
    <%- include('./partials/comment') %>
</div>
<%- include('./partials/end') %>
