<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<article>
    <h1><%-page.title%></h1>
    <%-page.content%>
    <p class="copyright"><strong>Links: <a href="<%-page.link%>"><%-page.link%></a></strong></p>
</article>

<%- include('./partials/comment') %>
<%- include('./partials/footer') %>
