<%- include('header') %>
<%- include('navigation') %>
<!--Content here-->
<div class="w3-content">
    <br>
    <table class="w3-table w3-card-4" style="cursor: pointer">
        <tr class="">
            <th>Tag</th>
            <th>Description</th>
        </tr>
        <% if (bookmarks.length){ %>
            <% bookmarks.forEach((bookmark)=>{ %>
                <tr onclick="window.open('<%= bookmark.link %>')" class="">
                    <td><%= bookmark.tag %></td>
                    <td><%= bookmark.name %></td>
                </tr>
        <% })} %>
    </table>
</div>
<%- include('end') %>