<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="code-page">
    <div class="control-panel">
        <span>Control panel: </span>
        <button id="darkBtn" onclick="changeBackground()">Focus</button><button onclick="copyCode()">Copy</button>
    </div>
    <pre>
        <code id="code-display"><%=page.content%></code>
    </pre>
    <label>
        <textarea id="hiddenTextArea" style="position: absolute;left: -100%;"></textarea>
    </label>
</div>

<script>
    const body = document.getElementsByTagName("body")[0];
    const darkBtn = document.getElementById('darkBtn');
    let dark = false;
    function copyCode() {
      const copyText = document.getElementById("code-display").textContent;
      const textArea = document.getElementById('hiddenTextArea');
      textArea.textContent = copyText;
      document.body.append(textArea);
      textArea.select();
      document.execCommand("copy");
    }

    let e = document.querySelector('#code-display');

    function changeBackground() {
      const comment = document.getElementsByClassName("comment")[0];
      let backgroundColor = getComputedStyle(e).backgroundColor;
      if(dark){
        body.setAttribute('style', '');
        comment.style.cssText = "";
      }else{
        body.setAttribute('style', 'background:'+backgroundColor);
        comment.style.cssText = "visibility:hidden";
      }
      dark = !dark;
    }

</script>

<%- include('./partials/comment') %>
<%- include('./partials/footer') %>
