<%- include('./partials/header') %>
<%- include('./partials/nav') %>
<% if (pages.length){ %>
    <% pages.forEach((page)=>{ %>
        <div class="card">
            <div class="card-title">
                <a href="/page/<%= page.link %>"><%= page.title !== '' ? page.title : 'No title' %></a>
            </div>
            <div class="card-tag">
                <% page.tag.trim().split(" ").forEach(function (tag) { if(tag!==""){%>
                    <a class="badge" href='/tag/<%= tag %>'><%= tag %></a>
                <% }}); %>
                <a class="badge badge-secondary badge-hover" href="/archive/<%= page.post_time.split('-')[0]+'/'+page.post_time.split('-')[1] %>"><%= page.post_time.substring(0, 10) %></a>
            </div>
<!--            <div class="card-text">-->
<!--                <%= page.title %>-->
<!--            </div>-->
        </div>
<% })} %>

<%- include('./partials/paginator') %>
<%- include('./partials/footer') %>
