<%- include('./partials/header') %>
<%- include('./partials/nav') %>
<% if (pages.length){ %>
    <% pages.forEach((page)=>{ %>
        <div class="card" onclick="location.href=`/page/<%= page.link %>`">
            <div class="card-title">
                <%= page.title !== '' ? page.title : 'No title' %>
            </div>
            <div class="card-tag">
                <% page.tag.trim().split(" ").forEach(function (tag) { if(tag!==""){%>
                    <span class="badge" onclick="event.stopPropagation();location.href='/tag/<%= tag %>'"><%= tag %></span>
                <% }}); %>
                <span class="badge badge-secondary badge-hover"
                      onclick="event.stopPropagation();location.href='/archive/'+timeToPath('<%= page.post_time %>')"><%= page.post_time.substring(0, 10) %></span>
            </div>
            <div class="card-text">
                <%= page.title %>
            </div>
        </div>
<% })} %>

<%- include('./partials/paginator') %>
<%- include('./partials/footer') %>
