<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="container">
    <%- include('./partials/message') %>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <ul class="list-group">
                <% if (articles.length){ %>
                    <% articles.forEach((article)=>{ %>
                        <li class="list-group-item hover-effect bg-transparent" id="article_<%= article.id %>">
                            <div class="card-body" style="padding: 4px">
                                <h5 class="card-title"><%= article.title %></h5>
                                <div>
                                    <% article.tag.split(" ").forEach(function (tag) { %>
                                        <span class="badge badge-primary badge-hover"
                                              onclick="location.href='/tag/<%= tag %>'"><%= tag %></span>
                                    <% }); %>
                                    <span class="badge badge-success badge-hover"
                                          onclick="location.href='/user/<%= article.author %>'"><%= article.author %></span>
                                    <span class="badge badge-secondary badge-hover"
                                          onclick='onTimeTagClicked("<%= article.time %>")'><%= article.time %></span>
                                    <span class="badge badge-info badge-hover"
                                          onclick="location.href='/article/<%= article.link %>'">View</span>
                                    <% if(isAbleToModify) { %>
                                        <span class="badge badge-danger badge-hover"
                                              onclick="deleteArticle(<%= article.id %>)">Delete</span>
                                        <span class="badge badge-dark badge-hover"
                                              onclick="location.href='/edit/<%= article.link %>'">Edit</span>
                                    <% } %>
                                </div>
                            </div>
                        </li>
                <% })} %>
            </ul>
        </div>
    </div>
</div>

<%- include('./partials/end') %>
