<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<article id="tag">
    <h1><%= title %></h1>
    <% pages.forEach(page => { %>
        <div class="archive-item">
            <a href="/page/<%= page.link %>">
                <%= page.title %>
            </a>
            <time>
                <%= page.post_time.substring(0, 10) %>
            </time>
        </div>
    <% }) %>
</article>

<%- include('./partials/footer') %>
