<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<%- include('./partials/message') %>
<div class="w3-content w3-margin-top" style="max-width:1400px">
    <ul class="w3-ul w3-card-4">
        <% if (articles.length){ %>
            <% articles.forEach((article)=>{ %>
                <li class="w3-bar" id="article_<%= article.id %>">
                    <div class="w3-bar-item">
                        <span class="w3-xlarge"><%= article.title %></span> <span
                                class="w3-tag w3-gray tag"
                                onclick='onTimeTagClicked("<%= article.time %>")'><%= article.time %></span> <span
                                class="w3-tag w3-blue tag"
                                onclick="location.href='/tag/<%= article.tag %>'"><%= article.tag %></span>
                        <span
                                onclick="location.href='/article/<%= article.id %>'"
                                class="w3-tag w3-indigo tag">View</span>
                        <br>
                        <span><%= article.description %></span>
                    </div>
                </li>
        <% })} %>
    </ul>
</div>
<%- include('./partials/end') %>
