<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <h4>Article edit</h4>
                </div>
                <div>
                    <textarea id="editor" name="content" required></textarea>
                    <script>
                        const simplemde = new SimpleMDE({
                            autofocus: true,
                            element: document.getElementById("editor"),
                            spellChecker: false
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let postPath = "/api/post";
    <% if(article !== undefined){ %>
    $(document).ready(function () {
        $.get("/api/article/<%- article.link %>", function (data) {
            $("input[name='title']").val(data.title);
            $("input[name='tag']").val(data.tag);
            $("input[name='description']").val(data.description);
            simplemde.value(data.content);
        });
    });
    postPath = "/api/edit/<%- article.link %>";
    <% } %>
    $(document).ready(function () {
        $("#submit").click(() => {
            const canSubmit = (simplemde.value() !== "") && ($("#title").val() !== "") && ($("#tag").val() !== "");
            if (canSubmit) {
                $.post(postPath, {
                    title: $("input[name='title']").val(),
                    tag: $("input[name='tag']").val(),
                    description: $("input[name='description']").val(),
                    content: simplemde.value()
                }, () => {
                    $("input[name='title']").val("");
                    $("input[name='tag']").val("");
                    $("input[name='description']").val("");
                    simplemde.value("");
                });
            }
        });
    });
</script>
<%- include('./partials/end') %>
