<%- include('./partials/header') %>
<div class="raw">
    <h1 class="title"><%-page.title%></h1>
    <%- include('./partials/page-info') %>
    <div class="raw-content">
        <%-page.content%>
    </div>
    <%- include('./partials/prev-next') %>
    <%- include('./partials/comment') %>
</div>


<%- include('./partials/footer') %>
