<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<%- include('./partials/message') %>

<!-- Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 16px">
            <div class="card shadow-box plain-white-silk-color">
                <div class="card-header font-weight-bold">Manage articles</div>
                <div class="card-body table-responsive" style="padding: 0">
                    <table class="table table-bordered table-striped table-hover thead-light" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Tag</th>
                            <th>Time</th>
                            <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if (articles.length){ %>
                            <% articles.forEach((article)=>{ %>
                                <tr id="article_<%= article.id %>">
                                    <td class="small"><%= article.title %></td>
                                    <td><%= article.author %></td>
                                    <td><%= article.tag %></td>
                                    <td><%= article.time %></td>
                                    <td>
                                        <div>
                                            <a class="badge badge-success badge-hover" target="_blank"
                                               href="/export/<%= article.link %>">Export</a> <span
                                                    class="badge badge-warning badge-hover"
                                                    onclick="">Freeze</span> <span
                                                    class="badge badge-info badge-hover" onclick="">Unfreeze</span>
                                            <span
                                                    class="badge badge-danger badge-hover"
                                                    onclick="deleteArticle(<%= article.id %>)">Delete</span>
                                        </div>
                                    </td>
                                </tr>
                        <% })} %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <% if(isRootUser) { %>
            <div class="col-lg-6" style="margin-bottom: 16px">
                <div class="card shadow-box plain-white-silk-color">
                    <div class="card-header font-weight-bold">Manage users</div>
                    <div class="card-body table-responsive" style="padding: 0">
                        <table class="table table-bordered table-striped table-hover thead-light"
                               style="margin-bottom: 0">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Operations</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if (users.length){ %>
                                <% users.forEach((user)=>{ %>
                                    <tr id="user_<%= user.name %>">
                                        <td><%= user.name %></td>
                                        <td>
                                            <div>
                                                <span
                                                        class="badge badge-warning badge-hover"
                                                        onclick="">Freeze</span> <span
                                                        class="badge badge-info badge-hover"
                                                        onclick="">Unfreeze</span> <span
                                                        class="badge badge-danger badge-hover"
                                                        onclick="deleteUser('<%= user.name %>')">Delete</span>
                                            </div>
                                        </td>
                                    </tr>
                            <% })} %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="col-lg-4 offset-lg-1" style="margin-bottom: 16px">
            <div class="card shadow-box plain-white-silk-color">
                <div class="card-header font-weight-bold">Others</div>
                <div class="card-body" style="padding: 0">
                    <ul class="list-group">
                        <li class="list-group-item plain-white-silk-color">
                            <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal"
                                    data-target="#updateUserModal">Update user info
                            </button>
                            <div class="modal fade" id="updateUserModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <form action="/api/updateUser" method="post">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Update mine user information</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="newUsername">New username:</label>
                                                    <input type="text" class="form-control" name="username"
                                                           id="newUsername" placeholder="Enter new username" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="newPassword">New password:</label>
                                                    <input type="password" class="form-control" name="password"
                                                           id="newPassword" placeholder="Enter new password" required>
                                                </div>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <input type="submit" class="btn btn-primary" value="Submit">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% if(isRootUser) { %>
                            <li class="list-group-item plain-white-silk-color">
                                <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal"
                                        data-target="#addUserModal">Add user
                                </button>
                                <div class="modal fade" id="addUserModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <form action="/api/addUser" method="post">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Add user</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="username">Username:</label>
                                                        <input type="text" class="form-control" name="username"
                                                               id="username" placeholder="Enter username" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password">Password:</label>
                                                        <input type="password" class="form-control" name="password"
                                                               id="password" placeholder="Enter password" required>
                                                    </div>
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <input type="submit" class="btn btn-primary" value="Submit">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item plain-white-silk-color">
                                <button type="button" class="btn btn-outline-success btn-block"
                                        onclick="$('#checkMessageModal').modal('show');loadMessages();">Check message
                                </button>
                                <div class="modal fade" id="checkMessageModal">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Check Message</h4>
                                                <button type="button" class="close"
                                                        data-dismiss="modal">&times;
                                                </button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <table class="table table-hover table-bordered table-striped"
                                                       id="messageTable">
                                                    <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Time</th>
                                                        <th>Content</th>
                                                        <th>Operation</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" onclick="loadMessages()">
                                                    Refresh
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item plain-white-silk-color">
                                <button type="button" class="btn btn-outline-info btn-block">Change theme</button>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('./partials/end') %>
