<%- include('header') %>
<%- include('navigation') %>
<%- include('message') %>
<div class="w3-content" style="max-width:1400px">
    <div class="w3-row">
        <div class="w3-col l9 s12">
            <div class="w3-card-4 w3-margin">
                <div class="w3-container random-color">
                    <h3>Watch Videos</h3>
                </div>
                <div class="w3-card w3-padding">
                    <video width="100%" controls id="videoPlayer">
                        <source id="videoSource" src="" type="video/mp4">
                    </video>
                    <div class="w3-container">
                        <h5 id="videoDescription"></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col l3 s12">
            <div class="w3-card-4 w3-margin">
                <div class="w3-container random-color">
                    <h3>Available Videos</h3>
                </div>
                <div style="max-height: 524px;overflow: scroll">
                    <ul class="w3-ul w3-card-4">
                        <% if (videos.length){ %>
                            <% videos.forEach((video)=>{ %>
                                <li class="w3-bar" style="cursor: pointer" onclick=openVideo('<%= video.path %>')>
                                    <P><%= video.path %></P>
                                </li>
                        <% })} %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w3-col l12 s12">
            <div class="w3-container">
                <div class="w3-card-4 w3-margin">
                    <div class="w3-container random-color">
                        <h3>Comments</h3>
                    </div>
                    <ul class="w3-ul w3-card-4">
                        <li class="w3-bar">
                            <div class="w3-bar-item">
                                <p class="w3-serif w3-xlarge"><i><strong>"</strong>comment.content<strong>"</strong></i>
                                </p>
                                <span class="w3-tag w3-deep-orange">comment.content</span> <span
                                        class="w3-tag w3-deep-purple">comment.time</span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<%- include('end') %>