<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<%- include('./partials/message') %>
<div class="w3-content" style="max-width:1400px;height: 90%">
    <div class="w3-card-4 w3-margin">
        <div class="w3-container w3-deep-purple">
            <h3>Instant Message</h3>
        </div>
        <div style="max-height: 600px;overflow-y: scroll" onload="scrollTop(scrollHeight)" id="messageDiv">
            <ul class="w3-ul" id="messageUl">
                <% if (messages.length){ %>
                    <% messages.forEach((message)=>{ %>
                        <li class="w3-bar">
                            <div>
                                <span class="w3-tag random-color"><%= message.author %></span> <span
                                        class="w3-opacity"><%= message.time %></span>
                                <p class="w3-serif w3-large"><%= message.content %></p>
                            </div>
                        </li>
                <% })} %>
            </ul>
        </div>
        <script>
            document.getElementById("messageDiv").scrollTop = document.getElementById("messageDiv").scrollHeight;
            //setTimeout('window.location.reload()', 2000);
        </script>
        <div class="w3-bar-item" style="width: 100%">
            <label>
                <input class="w3-input w3-animate-input w3-hover-shadow w3-hover-blue-grey"
                       type="text"
                       placeholder='Press "Enter" to send or refresh...'
                       name="comment"
                       id="messageBox"
                       autofocus
                       style="overflow: scroll">
            </label>
        </div>

    </div>
</div>
<%- include('./partials/end') %>
