<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%if(page !== undefined){%>
    <title><%= page.title %></title>
    <meta name="description" content="<%= page.description %>"/>
    <%} else{%>
    <title><%= config.title %></title>
    <meta name="description" content="<%= config.description %>"/>
    <%}%>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/fontawesome.min.css">
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="<%= config.code_theme %>" media="none" onload="this.media='all'">
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/icon512.png">
    <link rel="shortcut icon" href="<%- config.favicon %>">
    <%- config.extra_header_code %>
</head>
<body>
<script>
  if (false && 'serviceWorker' in navigator) {
    window.addEventListener('load', function () {
      navigator.serviceWorker.register('/sw.js', {scope: '/'})
        .then(function (registration) {
          // console.log('ServiceWorker registration successful with scope: ', registration.scope);
        })
        .catch(function (err) {
          console.log('ServiceWorker registration failed: ', err);
        });
    });
  }
</script>

<div id="page-container">
    <%- include('./nav') %>
    <div id="content-wrap">
        <div class="container">