<nav class="navbar nav-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" style='font-weight: bolder; font-size: larger'>
                <%= config.site_name; %>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="mainNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="mainNavbar" class="navbar-menu">
            <div class="navbar-start">
                <% if (config.nav_links !== undefined && config.nav_links !== '') {
                    var dropdowns;
                    try {
                        dropdowns = JSON.parse(config.nav_links);
                    } catch (e) {
                        dropdowns = [
                            {
                                "key": "Meta",
                                "value": [
                                    { "link": "/", "text": "解析失败，检查是否是合法的 JSON！" }
                                ]
                            }
                        ];
                        console.error(e.message);
                    }
                }
                var firstOne = dropdowns.shift();
                %>
                <% if (firstOne.value) firstOne.value.forEach((item)=>{ %>
                    <a class="navbar-item" href="<%- item.link; %>"> <%- item.text; %> </a>
                <% }); %>
                <% dropdowns.forEach((dropdown)=>{ %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <%- dropdown.key %>
                        </a>
                        <div class="navbar-dropdown">
                            <% if (dropdown.value) dropdown.value.forEach((item)=>{ %>
                                <a class="navbar-item" href="<%- item.link %>"><%- item.text %></a>
                            <% }); %>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <!--                    <a class="button is-primary">-->
                        <!--                        <strong>Sign up</strong>-->
                        <!--                    </a>-->
                        <!--                    <a class="button is-light">-->
                        <!--                        Log in-->
                        <!--                    </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>