<h1 class="title is-3 is-4-mobile"><%-page.title%></h1>
<div class="info">
    <span class="line">
        标签：
        <% page.tag.trim().split(";").forEach(function (tag) {if (tag !== "") {%>
            <a class="tag is-light" href='/tag/<%= tag %>'><%= tag %></a>
        <% }}); %>
    </span>
    <span class="line">发布于：<span class="tag is-light"><%-page.createdAt%></span></span>
    <span class="line">编辑于：<span class="tag is-light"><%-page.updatedAt%></span></span>
    <span class="line">浏览量：<span class="tag is-light"><%-page.view%></span></span>
</div>